@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    display:flex;
    flex-direction: column;
    margin: 0px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 8px;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

.header, .footer {
    background-color: #fc7f6f;
}

.logo, .main, button, .call-header {
    color: #f9faf8;
}

.header {
    display: flex;
    flex-direction: column;
}

.container-one {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 124px;
    padding: 16px 0px;
}

.logo {
    font-size: 24px;
    font-weight: 700;
}

.links {
    font-size: 18px;
    display: flex;
}

.container-two {
    display:flex;
    margin: 64px 124px;
    align-items: center;
}

.hero {
    width: 450px;
}

.main {
    font-size: 48px;
    font-weight: 900;
}

.secondary {
    margin: 8px 0;
}

button {
    font-size:18px;
    font-weight: 700;
    border-radius: 10px;
    padding: 8px 32px;
    border:none;
}

a, .secondary, .text, .footer {
    color: #ffeae7;
    font-size: 18px;
}

.image {
    width: 450px;
    text-align: center;
}

.info-header {
    font-size: 36px;
    font-weight:900;
}

.info-header, .quote {
    color: #1f2937;
}

.item {
    color: #444444;
}

.testimonial {
    background-color: #fee8c1;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.quoted {
    font-size: 24px;
    font-weight:700;
}

.call, button {
    background-color: #57b0c4;
}
