@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    display:flex;
    flex-direction: column;
    margin: 0px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 8px;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

.header, .footer {
    background-color: #fc7f6f;
}

.logo, .main, button, .call-header {
    color: #f9faf8;
}

.header {
    display: flex;
    flex-direction: column;
}

.container-one {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 124px;
    padding: 16px 0px;
}

.logo {
    font-size: 24px;
    font-weight: 700;
}

.links {
    font-size: 18px;
    display: flex;
}

.container-two {
    display:flex;
    margin: 72px 124px 96px;
    align-items: center;
}

.hero {
    width: 450px;
}

.main {
    font-size: 48px;
    font-weight: 900;
}

.secondary {
    margin: 8px 0;
}

button {
    font-size:18px;
    font-weight: 700;
    border-radius: 10px;
    padding: 8px 32px;
    display: flex;
    flex-shrink: 0;
}

.hero-signup {
    border:none;
}

a, .secondary, .footer {
    color: #ffeae7;
    font-size: 18px;
}

.hero-image {
    width: 450px;
    text-align: center;
}

.info {
    display: flex;
    flex-direction: column;
    margin-bottom: 96px;
}
.info-header {
    font-size: 36px;
    font-weight:900;
    display: flex;
    justify-content: center;
    margin: 48px 0px;
}

.info-header, .testimonial {
    color: #974e00;
}

.images {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.item {
    color: #444444;
    width: 200px;
    text-align: center;
}

.testimonial {
    background-color: #fee8c1;
    display: flex;
    flex-direction: column;
    padding: 0px 180px;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    display: flex;
    align-items: center;
    margin-top: 96px;
}

.quoted {
    font-size: 24px;
    font-weight:700;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 96px;
}

.call, button {
    background-color: #57b0c4;
}

.call {
    display: flex;
    margin: 96px 96px;
    padding: 48px 96px;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
}

.call-header {
    font-size: 22px;
    font-weight: 700;
}

.text {
    color: #ddf6fb;
}

.right {
    display: flex;
}

.call-signup {
    border-color: #f9faf8;
    border-width: 3px;
    border-style: solid;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
}


